<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../static/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../static/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="../static/jquery.cookie.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="single-courses-page">
    <div id="loading"><div class="cont"><img src="../static/images/loading.svg" width="50" alt=""/></div></div>
    <div class="page-header">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="What would you like to learn?">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <span style="margin-left: 20px;" id="userName"></span>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1 class="entry-title">${activityDetail.activityName}</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">

        <div class="row">

            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="course-info flex flex-wrap align-items-center">
                        <#--人数限制-->
                        <#if activityDetail.participationLimit == 1>
                            <div class="course-author flex flex-wrap align-items-center mt-3">
                                    <div class="author-wrap">
                                        <label class="m-0">人数限制</label>
                                        <div class="author-name">${activityDetail.participationNumber}</div>
                                    </div><!-- .author-wrap -->
                            </div><!-- .course-author -->
                        <#elseif activityDetail.participationLimit == 0>
                            <div class="course-author flex flex-wrap align-items-center mt-3">
                                <div class="author-wrap">
                                    <label class="m-0">人数限制</label>
                                    <div class="author-name">无</div>
                                </div><!-- .author-wrap -->
                            </div><!-- .course-author -->
                        </#if>
                        <#--参与次数限制-->
                        <#if activityDetail.participationTimes != 0>
                            <div class="course-cats mt-3">
                                <label class="m-0">参与次数限制</label>
                                <div class="author-name">${activityDetail.participationTimes}</div>
                            </div><!-- .course-cats -->
                        <#elseif activityDetail.participationTimes == 0>
                            <div class="course-cats mt-3">
                                <label class="m-0">参与次数限制</label>
                                <div class="author-name">无</div>
                            </div><!-- .course-cats -->
                        </#if>
                        <#if activityDetail.strategyType == 1>
                            <div class="course-students mt-3">
                                <label class="m-0">必中大奖限制</label>
                                <div class="author-name">满${activityDetail.winPrizeNumber},当前进度：</div>
                            </div><!-- .course-students -->
                        </#if>
                        <div class="course-students mt-3">
                            <label class="m-0">活动状态</label>
                            <#if activityDetail.customers??>
                                <div class="author-name" >${(activityDetail.activityStatus == 3) ? string('已开奖','未开奖')}</div>
                            <#else>
                                <div class="author-name">${(activityDetail.activityStatus == 1) ? string('关闭','开启')}</div>
                            </#if>
                        </div><!-- .course-students -->

                        <#if activityDetail.participationCostType == 0>
                            <div class="buy-course mt-3">
                                <#if activityDetail.customers??>
                                    <a class="btn"  data-flag = '${activityDetail.controllerId}' onclick="lottery('${activityDetail.activityId?c}', '1',1)" >${(activityDetail.activityStatus == 3) ? string('Restart','start')}</a>
                                <#else>
                                    <a class="btn"  onclick="lottery('${activityDetail.activityId?c}', '1',0)" >Free</a>
                                </#if>
                            </div><!-- .buy-course -->
                        <#elseif activityDetail.participationCostType == 1>
                            <#if activityDetail.batchGet == 1>
                                <div class="buy-course mt-3">
                                    <a class="btn"  onclick="lottery('${activityDetail.activityId?c}', '1',0)" >抽取1次：${activityDetail.participationCost}</a>
                                </div><!-- .buy-course -->
                                <#if activityDetail.batchGetNumber !=0>
                                    <div class="buy-course mt-3">
                                        <a class="btn"  onclick="lottery('${activityDetail.activityId?c}', '${activityDetail.batchGetNumber}',0)" >抽取${activityDetail.batchGetNumber}次：${activityDetail.batchGetNumber*activityDetail.participationCost}</a>
                                    </div><!-- .buy-course -->
                                </#if>
                            <#elseif activityDetail.batchGet == 0>
                                <div class="buy-course mt-3">
                                    <a class="btn"  onclick="lottery('${activityDetail.activityId?c}', '1',0)" >${activityDetail.participationCost}</a>

                                </div><!-- .buy-course -->
                            </#if>
                        </#if>
                        <div class="buy-course mt-3">
                            <#if activityDetail.customers??>
                                <a class="btn"  onclick="getResult('${activityDetail.activityId?c}',-1, '',1,1)" >查看抽奖结果</a>
                            <#else>
                                <a class="btn"  onclick="getResult('${activityDetail.activityId?c}',-1, '',0,1)" >查看抽奖结果</a>
                            </#if>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade border rounded-0" id="exampleModalCenter" >
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header " id="header">
                                        <span>恭喜</span>
                                        <button type="button" class="close positiona" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body " id="winPrizes">
                                    </div>
                                    <#--<div class="modal-footer ">-->
                                    <#--    脚注-->
                                    <#--</div>-->
                                </div>
                            </div>
                        </div>
                    </div><!-- .course-info -->


                    <div class="single-course-accordion-cont mt-3">
                        <header class="entry-header flex flex-wrap justify-content-between align-items-center">
                            <#--<h2>奖品列表</h2>-->

                            <#--<div class="number-of-lectures">340 Lectures</div>-->

                            <#--<div class="total-lectures-time">42:57:42</div>-->
                        </header><!-- .entry-header -->

                        <div class="entry-contents">
                            <div class="accordion-wrap type-accordion">
                                <h3 class="entry-title flex flex-wrap justify-content-between align-items-lg-center active">
                                    <span class="arrow-r"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                                    <span class="lecture-group-title">奖品列表</span>
                                    <#--<span class="number-of-lectures">zxcv</span>-->
                                    <span class="total-lectures-time">奖品种类：${activityDetail.prizeList?size}</span>
                                </h3>

                                <div class="entry-content">
                                    <ul class="p-0 m-0">
                                        <#list activityDetail.prizeList as prize>
                                            <li class="flex flex-column flex-lg-row align-items-lg-center">
                                                <span class="total-lectures-time" style="color: red">奖品名称：${prize.prizeName}</span>
                                                <span class="total-lectures-time">奖品数量：${prize.prizeNumber}</span>
                                                <span class="total-lectures-time">获奖概率：${prize.prizeProbability}</span>
                                                <#if prize.prizeTotalLimit == 1>
                                                    <span  class="total-lectures-time">奖品总数：${prize.prizeTotal}</span>
                                                </#if>
                                            </li>
                                        </#list>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .entry-contents -->
                    </div><!-- .single-course-accordion-cont  -->

                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <a class="foot-logo" href="#"><img src="images/foot-logo.png" alt=""></a>

                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. </p>

                            <p class="footer-copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact Us</h2>

                            <ul>
                                <li>Email: info.deertcreative@gmail.com</li>
                                <li>Phone: (+88) 111 555 666</li>
                                <li>Address: 40 Baria Sreet 133/2 NewYork City, US</li>
                            </ul>
                        </div><!-- .foot-contact -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="quick-links flex flex-wrap">
                            <h2 class="w-100">Quick Links</h2>

                            <ul class="w-50">
                                <li><a href="#">About </a></li>
                                <li><a href="#">Terms of Use </a></li>
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>

                            <ul class="w-50">
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Forums</a></li>
                                <li><a href="#">Language Packs</a></li>
                                <li><a href="#">Release Status</a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="follow-us">
                            <h2>Follow Us</h2>

                            <ul class="follow-us flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                            <a href="#"><img src="images/app-store.png" alt=""></a>
                            <a href="#"><img src="images/play-store.png" alt=""></a>
                        </div><!-- .download-apps -->

                    </div>

                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <div class="footer-bar-nav">
                            <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                <li><a href="#">DPA</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div><!-- .footer-bar-nav -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='../static/js/jquery.js'></script>
    <script type='text/javascript' src='../static/js/swiper.min.js'></script>
    <script type='text/javascript' src='../static/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='../static/js/custom.js'></script>
    <script type='text/javascript' src='../static/common/common.js'></script>
    <script type='text/javascript' src='../static/common/activityDetail.js'></script>
</body>
</html>